div {
  box-sizing: border-box;
}

input {
  display: block;
  cursor: pointer;
  background: transparent;
  outline: none;
  padding: 0;
  border: 0;
  color: transparent;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: var(--box-width);
  height: var(--box-height);
  margin: 0 auto;
  background-color: var(--container-bg-color);
  margin-top: 100px;
  border-radius: 50px;
  padding: var(--container-padding);
}

/* frame */

.frame-layer-one {
  width: 100%;
  height: 100%;
  background-color: var(--frame-layer-one-bg-color);
  border-radius: 50px;
  padding: var(--frame-layer-one-padding);
  filter: blur(1px);
}

.frame-layer-two {
  width: 100%;
  height: 100%;
  background-color: var(--frame-layer-two-bg-color);
  border-radius: 43px;
  padding: var(--frame-layer-two-padding);
}

.frame-layer-three {
  width: 100%;
  height: 100%;
  background-color: var(--frame-layer-three-bg-color);
  border-radius: 45px;
  padding: var(--frame-layer-three-padding);
  filter: blur(1px);
}

.frame-layer-four {
  width: 100%;
  height: 100%;
  background-color: var(--frame-layer-four-bg-color);
  border-radius: 31px;
  filter: blur(1px);
  padding: var(--frame-layer-four-padding);
}

/* 天线 */
.antennas-top {
  position: absolute;
  top: 0;
  right: 60px;
  width: 5px;
  height: 7px;
  background: var(--antenna-bg-color);
}

.antennas-left-top {
  position: absolute;
  left: 0;
  top: 60px;
  height: 5px;
  width: 7px;
  background: var(--antenna-bg-color);
}

.antennas-left-bottom {
  position: absolute;
  left: 0;
  bottom: 60px;
  height: 5px;
  width: 7px;
  background: var(--antenna-bg-color);
}

.antennas-bottom {
  position: absolute;
  bottom: 0;
  left: 60px;
  width: 5px;
  height: 7px;
  background: var(--antenna-bg-color);
}

.antennas-right-top {
  position: absolute;
  right: 0;
  top: 60px;
  height: 5px;
  width: 7px;
  background: var(--antenna-bg-color);
}

.antennas-right-bottom {
  position: absolute;
  right: 0;
  bottom: 60px;
  height: 5px;
  width: 7px;
  background: var(--antenna-bg-color);
}

/* 按键 */


.sounds-switch {
  position: absolute;
  left: -3px;
  top: 100px;
  height: 40px;
  width: 5px;
  background: var(--button-left-bg-color);
  border-radius: 4px 0 0 4px;
  border: 1px solid var(--container-bg-color);
}

.sounds-add {
  position: absolute;
  left: -3px;
  top: 170px;
  height: 66px;
  width: 5px;
  background: var(--button-left-bg-color);
  border-radius: 4px 0 0 4px;
  border: 1px solid var(--container-bg-color);
  cursor: pointer;
}

.sounds-reduce {
  position: absolute;
  left: -3px;
  top: 255px;
  height: 66px;
  width: 5px;
  background: var(--button-left-bg-color);
  border-radius: 4px 0 0 4px;
  border: 1px solid var(--container-bg-color);
  cursor: pointer;
}

.power {
  position: absolute;
  right: -3px;
  top: 200px;
  height: 100px;
  width: 5px;
  background: var(--button-right-bg-color);
  border-radius: 0 4px 4px 0;
  border: 1px solid var(--container-bg-color);
  cursor: pointer;
}

.sounds-show {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  background: #99adc2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear;
}


.text {
  font-size: 18px;
}

.icon {
  font-size: 70px;
}

.progress {
  width: 100%;
  height: 8px;
  background-color: black;
  margin-top: 10px;
  display: flex;
  padding: 1px;
}

.progress-item {
  flex: 1;
  height: 100%;
  border-right: 1px solid;
  background: white;
}

.progress-item:last-child {
  border-right: 0;
}

.sounds-show-silence {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  background: #99adc2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear;
}


.lock-page {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 0;
  height: 0;
  background-image: url('../images/lock.png');
  background-size: contain;
  border-radius: 25px;
  overflow: hidden;
}

/* 屏幕显示 */

.display-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(var(--box-height) - var(--display-layer-padding) * 2);
  width: calc(var(--box-width) - var(--display-layer-padding) * 2);
  border-radius: 25px;
  background-image: url('../images/home.jpeg');
  background-size: contain;
}

.forehead {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 50%;
  height: 26px;
  background: var(--forehead-bg-color);
  border-radius: 0 0 22px 22px;
  margin: 0 auto;
  padding-top: 5px;
}

.forehead::before {
  content: " ";
  position: absolute;
  left: -2px;
  top: 0;
  width: 13px;
  height: 5px;
  background: var(--forehead-bg-color);
  transform: rotate(45deg);
}

.forehead::after {
  content: " ";
  position: absolute;
  right: -2px;
  top: 0;
  width: 13px;
  height: 5px;
  background: var(--forehead-bg-color);
  transform: rotate(-45deg);
}

.phone-receiver {
  margin: 0 auto;
  width: 27%;
  height: 6px;
  border-radius: 5px;
  background: var(--phone-receiver-bg-color);
}

.camera {
  position: absolute;
  top: -2px;
  left: 66%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--camera-bg-color);
  padding: 3px;
  transform: scale(0.7);
}

.camera-layer-one {
  width: 100%;
  height: 100%;
  background: var(--camera-layer-one-bg-color);
  padding: 3px;
  border-radius: 50%;
}

.camera-layer-two {
  width: 100%;
  height: 100%;
  background: var(--camera-layer-two-bg-color);
  padding: 2px;
  border-radius: 50%;
  filter: opacity(0.6);
}


.wechat {
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  bottom: 0;
  transition: all 0.5s;
  border-radius: 25px;
}

.wechat-icon {
  position: absolute;
  bottom: 25px;
  right: 63px;
  z-index: 10;
  width: 51px;
  height: 51px;
  border-radius: 11px;
}


.setting {
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  bottom: 0;
  transition: all 0.5s;
  border-radius: 25px;
}

.setting-icon {
  position: absolute;
  top: -399px;
  right: 25px;
  z-index: 10;
  width: 51px;
  height: 51px;
  border-radius: 11px;
}


.safari {
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  bottom: 0;
  transition: all 0.5s;
  border-radius: 25px;
}

.safari-icon {
  position: absolute;
  bottom: 25px;
  right: 139px;
  z-index: 10;
  width: 51px;
  height: 51px;
  border-radius: 11px;
}

/* 按键交互 */

/* 声音按键交互 */

.buttons input:not(.power):active {
  left: -2px;
}

.buttons input.power:active {
  right: -2px;
}

.sounds:focus-within .sounds-show {
  visibility: visible;
  opacity: 1;
}

.silence:focus-within .sounds-show-silence {
  visibility: visible;
  opacity: 1;
}

/* 锁屏按键 */
.lock:focus-within .lock-page {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(var(--box-height) - var(--display-layer-padding) * 2);
  width: calc(var(--box-width) - var(--display-layer-padding) * 2);
}

/* 微信 */
.wechat:focus-within {
  width: 100%;
  height: 100%;
  background-image: url('../images/wechat.jpeg');
  background-size: contain;
}

/* 设置 */
.setting:focus-within {
  width: 100%;
  height: 100%;
  background-image: url('../images/setting.png');
  background-size: contain;
}

/* 设置 */
.safari:focus-within {
  width: 100%;
  height: 100%;
  background-image: url('../images/safari.jpeg');
  background-size: contain;
}