div {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: var(--box-width);
  height: var(--box-height);
  margin: 0 auto;
  background-color: var(--container-bg-color);
  margin-top: 100px;
  border-radius: 50px;
  padding: var(--container-padding);
}


.frame-layer-one {
  width: 100%;
  height: 100%;
  background-color: var(--frame-layer-one-bg-color);
  border-radius: 50px;
  padding: var(--frame-layer-one-padding);
  filter: blur(1px);
}

.frame-layer-two {
  width: 100%;
  height: 100%;
  background-color: var(--frame-layer-two-bg-color);
  border-radius: 43px;
  padding: var(--frame-layer-two-padding);
}

.frame-layer-three {
  width: 100%;
  height: 100%;
  background-color: var(--frame-layer-three-bg-color);
  border-radius: 45px;
  padding: var(--frame-layer-three-padding);
  filter: blur(1px);
}

.frame-layer-four {
  width: 100%;
  height: 100%;
  background-color: var(--frame-layer-four-bg-color);
  border-radius: 31px;
  filter: blur(1px);
  padding: var(--frame-layer-four-padding);
}

.display-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(var(--box-height) - var(--display-layer-padding) * 2);
  width: calc(var(--box-width) - var(--display-layer-padding) * 2);
  background-image: url('../images/home.jpeg');
  background-size: contain;
  border-radius: 25px;
}

.forehead {
  position: relative;
  width: 50%;
  height: 26px;
  background: var(--forehead-bg-color);
  border-radius: 0 0 22px 22px;
  margin: 0 auto;
  padding-top: 5px;
}

.forehead::before {
  content: " ";
  position: absolute;
  left: -2px;
  top: 0;
  width: 13px;
  height: 5px;
  background: var(--forehead-bg-color);
  transform: rotate(45deg);
}

.forehead::after {
  content: " ";
  position: absolute;
  right: -2px;
  top: 0;
  width: 13px;
  height: 5px;
  background: var(--forehead-bg-color);
  transform: rotate(-45deg);
}

.phone-receiver {
  margin: 0 auto;
  width: 27%;
  height: 6px;
  border-radius: 5px;
  background: var(--phone-receiver-bg-color);
}

.camera {
  position: absolute;
  top: -2px;
  left: 66%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--camera-bg-color);
  padding: 3px;
  transform: scale(0.7);
}

.camera-layer-one {
  width: 100%;
  height: 100%;
  background: var(--camera-layer-one-bg-color);
  padding: 3px;
  border-radius: 50%;
}

.camera-layer-two {
  width: 100%;
  height: 100%;
  background: var(--camera-layer-two-bg-color);
  padding: 2px;
  border-radius: 50%;
  filter: opacity(0.6);
}

.antennas-top {
  position: absolute;
  top: 0;
  right: 60px;
  width: 5px;
  height: 7px;
  background: var(--antenna-bg-color);
}

.antennas-left-top {
  position: absolute;
  left: 0;
  top: 60px;
  height: 5px;
  width: 7px;
  background: var(--antenna-bg-color);
}

.antennas-left-bottom {
  position: absolute;
  left: 0;
  bottom: 60px;
  height: 5px;
  width: 7px;
  background: var(--antenna-bg-color);
}

.antennas-bottom {
  position: absolute;
  bottom: 0;
  left: 60px;
  width: 5px;
  height: 7px;
  background: var(--antenna-bg-color);
}

.antennas-right-top {
  position: absolute;
  right: 0;
  top: 60px;
  height: 5px;
  width: 7px;
  background: var(--antenna-bg-color);
}

.antennas-right-bottom {
  position: absolute;
  right: 0;
  bottom: 60px;
  height: 5px;
  width: 7px;
  background: var(--antenna-bg-color);
}

.sounds-switch {
  position: absolute;
  left: -3px;
  top: 100px;
  height: 40px;
  width: 5px;
  background: var(--button-left-bg-color);
  border-radius: 4px 0 0 4px;
  border: 1px solid var(--container-bg-color);
}

.sounds-add {
  position: absolute;
  left: -3px;
  top: 170px;
  height: 66px;
  width: 5px;
  background: var(--button-left-bg-color);
  border-radius: 4px 0 0 4px;
  border: 1px solid var(--container-bg-color);
}

.sounds-reduce {
  position: absolute;
  left: -3px;
  top: 255px;
  height: 66px;
  width: 5px;
  background: var(--button-left-bg-color);
  border-radius: 4px 0 0 4px;
  border: 1px solid var(--container-bg-color);
}

.power {
  position: absolute;
  right: -3px;
  top: 200px;
  height: 100px;
  width: 5px;
  background: var(--button-right-bg-color);
  border-radius: 0 4px 4px 0;
  border: 1px solid var(--container-bg-color);
}