:root {

  /* size */
  --boxWidth: 375px;
  --boxHeight: 812px;
  --containerPadding: 3px;
  --layerOnePadding: 2px;
  --layerTwoPadding: 3px;
  --layerThreePadding: 5px;
  --layerFourPadding: 10px;


  /* color */
  --containerBgColor: rgba(0, 0, 0, 0.8);
  --layerOneBgColor: rgb(255, 255, 255);
  --layerTwoBgColor: rgba(0, 0, 0);
  --layerThreeBgColor: rgb(255, 255, 255, 0.8);
  --layerFourBgColor: rgba(0, 0, 0);


  /* gradient */
  --blurHorizontalBackground: linear-gradient(to right, var(--layerOneBgColor), var(--layerOneBlurColor), var(--layerTwoBgColor));
  --blurVerticalBackground: linear-gradient(to bottom, var(--layerOneBgColor), var(--layerOneBlurColor), var(--layerTwoBgColor));
}