:root {
  /* size */
  --box-width: 375px;
  --box-height: 758px;
  --container-padding: 3px;
  --frame-layer-one-padding: 2px;
  --frame-layer-two-padding: 3px;
  --frame-layer-three-padding: 5px;
  --frame-layer-four-padding: 10px;
  --display-layer-padding: calc(
    var(--container-padding) + var(--frame-layer-one-padding) +
      var(--frame-layer-two-padding) + var(--frame-layer-three-padding) +
      var(--frame-layer-four-padding)
  );
  --display-layer-width: calc(
    var(--box-width) - var(--display-layer-padding) * 2
  );
  --display-layer-height: calc(
    var(--box-height) - var(--display-layer-padding) * 2
  );
  --display-icon-width: 51px;
  --display-icon-height: 51px;
  --display-icon-radius: 11px;
  --button-border-radius: 4px;
  --sounds-display-size: 180px;

  /* color */
  --container-bg-color: rgba(0, 0, 0, 0.8);
  --frame-layer-one-bg-color: rgb(255, 255, 255);
  --frame-layer-two-bg-color: rgba(0, 0, 0);
  --frame-layer-three-bg-color: rgb(255, 255, 255, 0.8);
  --frame-layer-four-bg-color: rgba(0, 0, 0);
  --forehead-bg-color: rgba(0, 0, 0);
  --phone-receiver-bg-color: rgba(82, 82, 82, 0.4);
  --camera-bg-color: rgb(32, 32, 32);
  --camera-layer-one-bg-color: rgb(49, 49, 49);
  --camera-layer-two-bg-color: linear-gradient(135deg, white, #3f3fff, #00ff7e);
  --antenna-bg-color: #3a3a3a;
  --button-left-bg-color: linear-gradient(to right, white, black);
  --button-right-bg-color: linear-gradient(to left, white, black);
  --sounds-show-bg-color: #99adc2;
}
